<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580203992579-t6t30khb3ia8hpuhcektbuuttl0keuha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580203992579-t6t30khb3ia8hpuhcektbuuttl0keuha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>580203992579-4g010d7tlp6npreer2f3qtp7kauvbdqv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBH8qGZR0MRnb2XflojDZzee9KDvM__gP0</string>
	<key>GCM_SENDER_ID</key>
	<string>580203992579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maantheme.maanFood</string>
	<key>PROJECT_ID</key>
	<string>itaws-85a22</string>
	<key>STORAGE_BUCKET</key>
	<string>itaws-85a22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580203992579:ios:ee6be893df79ad6f5a6036</string>
</dict>
</plist>